
/** {*/
/*    background: #000 !important;*/
/*    color: #0f0 !important;*/
/*    outline: solid #f00 1px !important;*/
/*}*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#mainContainer {
    width: 100%;
}
.container {
    margin: 0px !important;
    width: 100% !important;
}
.clone {
    border: 2px solid cyan;
}
/*https://www.google.com/search?q=how+to+get+a+svg+to+fit+exactly+in+a+div&rlz=1C5MACD_enUS1029US1029&oq=how+to+get+a+svg+to+fit+exactly+in+a+div&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQIRigATIHCAUQIRigATIHCAYQIRiPAjIHCAcQIRiPAtIBCDg5OTRqMWo0qAIAsAIB&sourceid=chrome&ie=UTF-8*/
.svgDisplay svg {
    width: 100% !important;
    height: 100% !important;
}
.iblock {
    display: inline-block;
}
.footnote {
    font-size: 18px;
    background-color: #9bfdff;
}
div.current {
    margin-top: -20px;
}
.xtraControls {
    vertical-align: top;
    font-size: 12px !important;
}
#rufRLcurrent {
    font-size: 14px;
}
#clearButtons {
    font-size: 16px;
}
#clearButtonsSpan {
    font-size: 12px;
}
button {
    border:none;
    margin-bottom: 2px;
    background-color: #9bfdff;
}
#lMacro, #lSequence {
    background-color: #9bfdff;
}
#macro, #history, #whichRuf {
    width: 50% !important;
}
#moveSequence {
    width: 75%;
    margin-top: -3px;
    font-size: 12px;
    font-weight: bold;
}
.bord {
    border: solid;
}
.mt--1 {
    margin-top: -18px;
}
.tooltip {
    font-size: 14px;
    color: black;
}
g:focus {
    outline: none !important;
}
.hfBold {
    color: purple;
    font-weight: bold;
    color: purple;
}
#eagerHistory, #eagerMacro {
    display: inline-block;
    vertical-align: middle;
}
/*#uiOverlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: transparent; !* Semi-transparent white overlay *!*/
/*    z-index: 9999; !* Ensure it's on top of other elements *!*/
/*    display: none; !* Initially hidden *!*/
/*}*/

#turnDiffsBool {
    background-color: rgb(128, 143, 224);
}
#moveDiffsBool {
    background-color: rgb(45, 237, 77);
}
#bothDiffsBool {
    background-color: rgb(242, 187, 116);
}
.svgDisplay2 {
    transform: scale(.90, .90);
    margin-right: -15px;
    margin-left: -15px;
}
.svgDisplay {
    transform: scale(-.90,.90) rotate(180deg);
    margin-right: -15px;
    margin-left: -15px;
    /*transform: rotate(180deg);*/
    /*max-height: 175px;*/
    /*max-height: 175px;*/
}
.solved.row {
    margin-right: 0 !important;
    width: 100% !important;
}
.w-25 {
    width: 25% !important;
}
#ruf2hues {
    font-weight: bold;
    color: darkblue;
    font-size: 12px;
}
.big {
    font-size: 19px;
    color: #146c43;
}
